<h1>Reports</h1>

<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner name</th>
      <th>Owner email</th>
      <th>Owner country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @reports.empty? %>
      <tr>
        <td colspan="7">
          <p class="text-muted">There are no reports submitted yet</p>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          To send a report, make the API call to:
          <p>
            <code>
              POST /api/report
            </code>
          </p>
          <p>Parameters:</p>
          <ul>
            <li><strong>picsafe_file</strong> -- file to upload. Unencrypted file should contain:
              <ul>
                <li>Report ID in the name of the file. For example: <code>0000000011462800528240.picsafe</code></li>
                <li><code>package.json</code> with key server URL in <code>keyserver_url</code> key.</li>
                <li><code>package.encrypted</code> with encrypted ZIP file.</li>
              </ul>
            </li>
            <li><strong>token</strong> -- the same user token you used to get encryption key from the key server</li>
          </ul>

          <p>Returns:</p>
          <ul>
            <li>{ success: true }</li>
            <li>{ success: false, error: "Error message" }</li>
          </ul>
        </td>
      </tr>
    <% else %>
      <% @reports.each do |r| %>
        <tr>
          <td><%= r.uuid %></td>
          <td><%= r.owner_name %></td>
          <td><%= r.owner_email %></td>
          <td><%= r.owner_country %></td>
          <td><%= link_to 'Decrypt', report_url(r, format: 'zip') %></td>
          <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
