<!DOCTYPE html>
<html>
<head>
  <title>Demo PicSafe Endpoint</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Demo PicSafe Endpoint</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Reports</a>
      </li>
    </ul>
  </nav>
  </br>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
